/* Глобальні стилі */

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --logo-color: #2196f3;
  --primary-logo-text-color: #000000;
  --secondary-logo-text-color: #ffffff;
  --page-text-color: #212121;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --base-btn-color: #2196f3;
  --active-btn-color: #188ce8;
  --svg-base-color: #afb1b8;
  --auto-line-height: 1.2;
  --small-text-size: 14px;
  --medium-text-size: 16px;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--page-text-color);
  background-color: var(--primary-bg-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea {
  resize: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 700;
  font-size: var(--medium-text-size);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  cursor: pointer;
  background-color: var(--base-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color var(--duration) var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--active-btn-color);
}

.section {
  padding: 94px 0;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Головна сторінка */

/* Хедер */

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--auto-line-height);
  color: var(--logo-color);
  text-decoration: none;
}

.header__logo {
  padding: 24px 0;
  margin-right: 93px;
}

.logo__text--white {
  color: var(--primary-logo-text-color);
}

.nav,
.contacts {
  display: flex;
  gap: 50px;
}

.contacts {
  margin-left: auto;
}

.nav__link,
.contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: var(--small-text-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  text-decoration: none;
  transition: color var(--duration) var(--timing-function);
}

.contacts__link {
  color: var(--secondary-text-color);
}

.nav__link--active,
.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.nav__link--active {
  position: relative;
}

.nav__link--active::after {
  position: absolute;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Секція Hero */

.hero {
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  text-transform: uppercase;
}

.hero__btn {
  padding: 10px 32px;
}

/* Оверлей та модальне вікно */

.overlay {
  position: fixed;
  top: 0;
  /* z-index: 5; */
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, 80%) scale(0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  color: #000000;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color var(--duration) var(--timing-function);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  color: var(--accent-color);
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__form {
  padding: 48px 40px 40px;
  text-align: center;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
}

.modal__wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--page-text-color);
  transition: color var(--duration) var(--timing-function);
}

.modal__field:focus-within {
  color: var(--accent-color);
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__input {
  margin: 0;
  padding: 11px 42px;
  color: var(--page-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--duration) var(--timing-function);
}

.modal__input:focus,
.modal__input:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.modal__input:not(:placeholder-shown) + .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__input--large {
  padding: 12px 16px;
}

.modal__input--large::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal__box {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal__icon--checked {
  z-index: -1;
  top: 5px;
  left: 19px;
  width: 16px;
  height: 15px;
}

.modal__text {
  margin-left: 8px;
  font-weight: 400;
  font-size: var(--small-text-size);
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.modal__check:checked + .modal__box {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__check:checked ~ .modal__icon--checked {
  z-index: 2;
}

.modal__link {
  color: var(--accent-color);
}

.modal__btn {
  min-width: 200px;
  height: 50px;
}

/* Особливості роботи */

.features {
  display: flex;
  gap: 30px;
}

.features__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  font-size: var(--small-text-size);
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  font-size: var(--small-text-size);
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Чим ми займаємося */

.services__section {
  padding-top: 0;
}

.services__list {
  display: flex;
  gap: 30px;
}

.services__item {
  position: relative;
}

.services__img {
  display: block;
}

.services__wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__title {
  font-size: var(--small-text-size);
  line-height: 1.14;
  color: var(--primary-title-color);
  text-transform: uppercase;
}

/* Наша команда */

.team__section {
  background-color: var(--secondary-bg-color);
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  display: block;
}

.team__desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title,
.team__text {
  font-size: var(--medium-text-size);
  line-height: var(--auto-line-height);
  text-align: center;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
}

.team__text {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.socials__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--svg-base-color);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.socials__link:hover,
.socials__link:focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Постійні клієнти */

.clients {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--svg-base-color);
  border: 1px solid var(--svg-base-color);
  border-radius: 4px;
  transition: color var(--duration) var(--timing-function),
    border-color var(--duration) var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Футер */

.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}

.logo__text--black {
  color: var(--secondary-logo-text-color);
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address__link {
  font-style: normal;
  font-size: var(--small-text-size);
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color var(--duration) var(--timing-function);
}

.address__link--white {
  color: var(--primary-text-color);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

/* Соцмережі */

.socials {
  margin-left: 70px;
}

.socials__tagline,
.subscription__tagline {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--small-text-size);
  line-height: 1.14;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.socials__link--white {
  color: var(--primary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) var(--timing-function);
}

/* Форма підписки */

.subscription {
  min-width: 570px;
  margin-left: auto;
}

.subscription__form {
  display: flex;
}

.subscription__input {
  flex-grow: 1;
  padding: 15px 16px;
  color: var(--primary-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color var(--duration) var(--timing-function);
}

.subscription__input::placeholder {
  font-size: var(--medium-text-size);
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input:focus,
.subscription__input:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.subscription__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
}

.subscription__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

/* Сторінка портфоліо */

/* Кнопки */

.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: var(--medium-text-size);
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: currentColor;
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 4px;
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Перелік проєктів */

.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.project__item {
  display: flex;
  width: calc((100% - 30px * 2) / 3);
}

.project__link {
  color: currentColor;
  text-decoration: none;
  transition: box-shadow var(--duration) var(--timing-function);
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__wrap {
  position: relative;
  overflow: hidden;
}

.project__img {
  display: block;
}

.project__tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--duration) var(--timing-function);
}

.project__desc {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-text-color);
}

.project__link:hover .project__tooltip,
.project__link:focus .project__tooltip {
  transform: translateY(0);
}

.project__caption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  font-size: var(--medium-text-size);
  line-height: 1.88;
  color: var(--secondary-text-color);
}
