.clients {
  @include centered-flex(space-between);
  gap: $base-gap;
}

.clients__link {
  @include centered-flex;
  @include sizes(170px, 92px);
  color: $svg-base-color;
  border: 1px solid $svg-base-color;
  border-radius: 4px;
  transition: color $duration $timing-function, border-color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.clients__icon {
  @include sizes(106px, 60px);
  fill: currentColor;
}
