.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  @include centered-flex(space-between);
}

.header__nav,
.header__contacts {
  display: flex;
  gap: 50px;
}

.header__contacts {
  margin-left: auto;
}

.nav__link,
.contacts__link {
  @include centered-flex();
  padding: 32px 0;
  font-weight: 500;
  font-size: $small-text-size;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  text-decoration: none;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav__link--active {
  position: relative;
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: 0;
    content: '';
    @include sizes(100%, 4px);
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.contacts__link {
  color: $secondary-text-color;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
